@page "/"
@using trail_weather_frontend.Services
@using trail_weather_frontend.DTOs
@using System.IO
@using System.Net.Http
@using System.Text.Json
@inject IApiCaller _caller
@inject IGeolocationService _geolocationService
@inject IHttpClientFactory _httpClientFactory

<h3>TrailWeather</h3>

<div>
    <label for="rangeInput">Range (km):</label>
    <input type="text" id="rangeInput" @bind="@range" @onkeyup="HandleKeyUp">
    <button class="btn-primary" @onclick="GetTrailWeather">Get Weather</button>

    @if (position != null)
    {
        <span style="margin-left: 10px;">
            Your current location: Latitude: @position.Coords.Latitude, Longitude: @position.Coords.Longitude
        </span>
    }
    else 
    {
        <span style="margin-left: 10px;">
            Your current location is unknown.
        </span>
    }

</div>

@if (forecasts != null)
{
    if (forecasts.Count == 0)
        return;    

    <table class="table">
        <thead>
            <tr>
                <th>Bikepark Name</th>
                <th>Distance to (km)</th>
                @foreach (var time in forecasts[0].DailyData.TimeList)
                {
                    @if(DateTime.Now.Date != DateTime.Parse(@time).Date)
                    {
                        <th>@DateTime.Parse(@time).DayOfWeek.ToString().Substring(0, 3)</th>                        
                    }
                    else
                    {
                        <th>(Now) <br> @DateTime.Parse(@time).DayOfWeek.ToString().Substring(0, 3) </th>
                    }            
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.DistanceTo.ToString()</td> 
                    @foreach (var weathCode in forecast.DailyData.WeatherCodeList)
                    {
                        <td> <img src=@GetImageSourcePath(weathCode)></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ForecastDTO> forecasts;
    private int range;
    private GeolocationPosition? position;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await _geolocationService.GetCurrentPositionAsync(OnSuccess, OnError);
    }

    private string GetImageSourcePath(int weatherCode)
    {   
        string weatherCodeFolderPath = Path.Combine("wwwroot", "WeatherIcons");
        var weatherCodeFiles = Directory.GetFiles(weatherCodeFolderPath).ToList();
        var matchedFile = weatherCodeFiles.Where(weatherCodeFiles => weatherCodeFiles.Contains("\\" + weatherCode.ToString() + "_")).Single().Substring(21);

        return $"WeatherIcons/{matchedFile}";
    }

    private async Task GetTrailWeather()
    {                
        try
        {            
            forecasts = await _caller.GetTrailWeather(range, position.Coords.Latitude, position.Coords.Longitude);
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine(ex.Message);
            forecasts = new List<ForecastDTO>();
        }
    }

    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")        
            await GetTrailWeather();
    }

    [JSInvokable]
    public void OnSuccess(GeolocationPosition pos)
    {
        position = pos;
        StateHasChanged();
        _ = GetLocationDetailsAsync(pos.Coords.Latitude, pos.Coords.Longitude);
    }

    [JSInvokable]
    public void OnError(GeolocationPositionError error)
    {        
        Console.WriteLine($"Error: {error.Message}");
    }

    private async Task GetLocationDetailsAsync(double latitude, double longitude)
    {
        var client = _httpClientFactory.CreateClient();
        client.BaseAddress = new Uri("https://nominatim.openstreetmap.org");
        client.DefaultRequestHeaders.Add("Accept", "application/json");
        client.DefaultRequestHeaders.Add("User-Agent", "TrailWeatherApp");
        var url = $"/reverse.php?lat={latitude}&lon={longitude}&zoom=18&layer=address&format=jsonv2";
        var response = await client.GetAsync(url);
        if (response.IsSuccessStatusCode)
        {
            var locationDetailsJson = await response.Content.ReadAsStringAsync();
            var locationDetails = JsonSerializer.Deserialize<LocationDetailsDTO>(locationDetailsJson);                        
        }
        else
        {
            Console.WriteLine($"Failed to fetch location details: {response.ReasonPhrase}");
        }
    }
}